*{
    margin:0;
    padding:0;
    background-color:hsla(34, 78%, 100%,1);
    color: hsla(0,0%,12.5%,1);
    font-family: 'Mulish',sans-serif;
}
html{
    font-size:16px;
}
body{
    display:grid;
    grid-template-rows: 4rem 1fr 2.5rem;
    min-height:100vh;
    position:relative;
}
header{
    display:grid;
    grid-template-columns:minmax(195px,1fr) minmax(450px,1fr);
    grid-row:1/2;
    position:absolute;
    overflow: hidden;
    top:1rem;
    width:100%;
    height:4rem;
    border-bottom: .125rem hsla(0, 0%, 0%,1) solid;
}
header h1{
    grid-column: 1/2;
    display:inline;
    margin:0rem 0rem 1rem 25%;
    font-size:2rem;
    overflow:hidden;
    transition: all .5s ease;

}
nav{
    display:inline;
    grid-column: 2/3;
}
ul{
    margin:1rem 20% 1rem 0rem;
    list-style-type: none;
    float:right; 
}
nav li{
    display:inline;

}
header a{
    color: hsla(0,0%,0%,1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
    font-size:1rem;
    border-radius:40px;
    padding: .5rem;
    transition: all .5s ease;
   
}
header a:hover{
    color:white;
    background-color:hsla(0,0%,25%,1);
    border-radius:0px;
}
header a:active{
    color:white;
}
.main{
    grid-row:2/3;
    width:fit-content;
    margin: 2rem 10% 2rem 15%;
}
.main h2{
    padding:2rem 0rem 1rem 0rem;
}
.main p{
    margin-left:2rem;
    margin-top:.5rem;
}
footer{
    grid-row:3/4;
    position:absolute;
    bottom:0;
    width:100%;
    height:2.5rem;
    border-top: .125rem hsla(0, 0%, 0%,1) solid;
}
footer h3{
    text-align: center;
}
footer a{
    text-decoration: none;
    transition: all .5s ease;
}
footer a:hover{
    text-decoration: underline;
    color:forestgreen;
}
@media only screen and (max-width:768px){
    header{
        height:3rem;
    }
    header h1{
        font-size: 1.5rem;
        margin-left:15%;
    }
    header ul{
        margin-top:.5rem;
    }
    header a{
        font-size:.75rem;
    }
}